span.lastcommit {
    padding: 1px 3px 2px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #BFBFBF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
span.lastcommit a {
    color: white;
    text-decoration: none;
}
